%cards {
	width: calc(100% - 1em);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	background: var(--grey-lightest);
	border-radius: 0 0 4px 4px;
}

%side-scroll {
	white-space: nowrap;
	overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;  /*IE 10+*/
  scrollbar-width: none;   /*Firefox*/
}