/* */
:root {
  --text-color: #393f3e;
  --grey-lightest: #fafafa;
  --grey-light: #e7e7e7;
  --grey: #999999;
  --grey-dark: #4e4e4e;
  --accent: #FF0036;
  --beleza: #50E3C2;
  --jardinagem: #B8E986;
  --saude: #10E040;
  --font: 'Lato', sans-serif;
  --secondary-card-height: 8rem;
  /* 128px */ }

* {
  box-sizing: border-box; }

h3 {
  letter-spacing: -.6px;
  font-size: 1.5rem;
  /* 24px */
  font-weight: 700;
  margin: 0; }

h3.secondary {
  letter-spacing: -.4px;
  font-size: 1rem; }

body {
  font-family: var(--font);
  font-size: 16px;
  margin: 0; }

/* not usual coding,
	 just to make sure the test is viewed in mobile format */
.mobile-only {
  display: none; }

@media only screen and (min-device-width: 820px) {
  .mobile-only {
    display: block; } }
header .img--container {
  padding: 1rem 0.5rem 0.5rem;
  width: 100vw; }
  header .img--container .logo {
    height: 1.625rem;
    /* 26px / 1rem */ }
  header .img--container .search {
    float: right; }
header nav {
  padding-left: .5rem; }
  header nav ul {
    padding: 0;
    margin: 0; }
    header nav ul li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      padding-bottom: .5rem;
      color: var(--grey); }
      header nav ul li:not(:last-child) {
        margin-right: 16px; }
      header nav ul li.current {
        font-weight: 900;
        color: var(--accent); }
        header nav ul li.current::after {
          content: "";
          display: block;
          position: relative;
          width: calc(100% + 1rem);
          height: 2px;
          left: -0.5rem;
          bottom: -0.5rem;
          background: var(--accent); }
header nav::-webkit-scrollbar {
  display: none; }

main {
  width: 100vw;
  overflow-x: hidden; }
  main h4.section--title {
    margin: 1rem 0 .5rem .5rem;
    padding: 0;
    width: 100%;
    font-size: 1.25rem;
    /* 20px / 16rem*/
    text-transform: uppercase;
    color: var(--accent); }
    main h4.section--title::after {
      content: "";
      display: block;
      position: relative;
      width: calc(100% + 1em);
      height: 1px;
      left: 0;
      bottom: 4px;
      background: var(--grey-light); }
  main .cards {
    width: 100%;
    height: auto; }
    main .cards .card--main .card--main__img img {
      display: block;
      height: auto;
      width: 100%;
      object-fit: cover; }
    main .cards .card--main .card--main__text {
      padding: 1rem .5rem; }
    main .cards .card--secondary {
      min-height: var(--secondary-card-height);
      clear: both; }
      main .cards .card--secondary .card--secondary__img {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%; }
        main .cards .card--secondary .card--secondary__img img {
          display: block;
          width: 100%;
          height: var(--secondary-card-height);
          object-fit: cover; }
      main .cards .card--secondary .card--secondary__text {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
        padding: 1rem; }
  main section.ultimas .card--main .category {
    transform: translateY(-50%);
    margin-bottom: -1rem; }
  main section.ultimas .category {
    display: inline-block;
    position: relative; }
    main section.ultimas .category .category--name {
      display: inline-block;
      float: left;
      width: 5.75rem;
      /* 92px */
      font-size: 10px;
      font-weight: 700;
      padding: .5rem;
      background: var(--beleza); }
    main section.ultimas .category .jardinagem {
      background: var(--jardinagem); }
    main section.ultimas .category .saude {
      background: var(--saude); }
    main section.ultimas .category .moda {
      background: var(--accent); }
    main section.ultimas .category .category--comment {
      display: inline-block;
      float: left;
      font-size: 10px;
      font-weight: 700;
      padding: .5rem;
      background: var(--grey-light); }
      main section.ultimas .category .category--comment span {
        display: inline-block; }
  main section.ultimas .author {
    margin-top: 1rem;
    font-weight: 900;
    color: var(--text-color); }
  main section.ultimas span {
    font-weight: 400;
    color: var(--grey);
    margin: 0; }
  main section.ultimas .card--secondary .category {
    bottom: 28px; }
  main section.ultimas .card--secondary .author {
    font-size: .75rem; }
  main section.popular {
    float: left; }
    main section.popular .card--secondary .card--secondary__text {
      padding-top: .25rem; }
    main section.popular .card--secondary .date {
      font-size: 8px;
      font-weight: 400;
      color: var(--grey);
      margin: 0 0 .25rem; }
  main footer {
    height: 40vh;
    background: var(--grey-dark);
    clear: both; }
    main footer p {
      text-align: center;
      color: var(--grey-light);
      line-height: 40vh; }

main .cards .card--main, main .cards .card--secondary {
  width: calc(100% - 1em);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  background: var(--grey-lightest);
  border-radius: 0 0 4px 4px; }

header nav {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  /*IE 10+*/
  scrollbar-width: none;
  /*Firefox*/ }

.sbuttons {
  bottom: 5%;
  position: fixed;
  margin: 1em;
  right: 0; }

.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative; }

.sbutton > i {
  font-size: 38px;
  line-height: 60px;
  transition: all .2s ease-in-out;
  transition-delay: 2s; }

.sbutton:active,
.sbutton:focus,
.sbutton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.sbutton:not(:last-child) {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  opacity: 0; }

.sbutton:not(:last-child) > i {
  font-size: 25px;
  line-height: 60px;
  transition: all .3s ease-in-out; }

.sbuttons:hover .sbutton:not(:last-child) {
  opacity: 1;
  width: 60px;
  height: 60px;
  margin: 15px auto 0; }

.sbutton:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms; }

.sbutton:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms; }

.sbutton:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms; }

.sbutton:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms; }

.sbutton:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms; }

.sbutton:not(:last-child):nth-last-child(6) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms; }

.sbutton.mainsbutton {
  background: var(--accent); }
  .sbutton.mainsbutton img {
    height: 25px;
    width: auto;
    transform: translateY(70%); }

.sbutton.gplus {
  background: #F44336; }

.sbutton.pinteres {
  background: #e60023; }

.sbutton.twitt {
  background: #03A9F4; }

.sbutton.fb {
  background: #3F51B5; }

.sbutton.whatsapp {
  background: #00e676; }

/*# sourceMappingURL=main.css.map */
