/* */
:root {
  --text-color: #393f3e;
  --grey-light: #e7e7e7;
  --grey: #999999;
  --grey-dark: #4e4e4e;
  --accent: #FF0036;

  --font: 'Lato', sans-serif;

  --secondary-card-height: 8em; /* 128px */
}
* {
  box-sizing: border-box;
}
h3 {
	letter-spacing: -.6px;
	font-size: 1.5em; /* 24 */
	font-weight: 700;
	margin: 0;

}
h3.secondary {
	letter-spacing: -.4px;
	font-size: 1em;
}
body {
	font-family: var(--font);
	font-size: 16px;
	margin: 0;
}
/* not usual coding,
	 just to make sure the test is viewed in mobile format */
.mobile-only {
	display: none;
}
@media only screen and (min-device-width: 820px) {
	.mobile-only {
		display: block;
	}
}

header {
	.img--container {
		padding: 1em 0.5em 0.5em;
		width: 100vw;
		.logo {
			height: 1.625em; /* 26px / 1em */
		}
		.search {
			float: right;
		}
	}

	nav {
		white-space: nowrap;
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	  -ms-overflow-style: -ms-autohiding-scrollbar;
	  padding-left: .5em;

	  &::-webkit-scrollbar {
		  display: none;
		}
		ul {
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				text-transform: uppercase;
				font-size: 12px;
				padding-bottom: .5em;
				color: var(--grey);

				&:not(:last-child) {
					margin-right: 16px;
				}
				&.current {
					font-weight: 900;
					color: var(--accent);
					&::after {
						content: "";
						display: block;
						position: relative;
	          width: calc(100% + 1em);
	          height: 2px;
						left: -0.5em;
						bottom: -0.5em;
	          background: var(--accent);
					}
				}
			}
		}
	}
}
main {
	width: 100vw;
	overflow-x: hidden;

	h4.section--title {
		margin: 1em 0 1em .5em;
		padding: 0;
		width: 100%;
		font-size: 1.25em; /* 20px / 16em*/
		text-transform: uppercase;
		color: var(--accent);
		&::after {
			content: "";
			display: block;
			position: relative;
      width: calc(100% + 1em);
      height: 1px;
			left: 0;
			bottom: 4px;
      background: var(--grey-light);
		}
	}

	.hero--cards {
		width: 100%;
		height: auto;

		.hero--card__main {
			@extend %card-main;

			.card--img {
				img {
					display: block;
					height: auto;
					width: 100%;

					object-fit: cover;
				}
			}
			.card--text {
				padding: 1em .5em;
			}
		}
		.hero--card__secondary {

			@extend %card-main;

			min-height: var(--secondary-card-height);
			clear: both;

			.card--img {
				display: inline-block;
				float: left;
				width: 50%;
				height: 100%;

				img {
					display: block;

					width: 100%;
					height: var(--secondary-card-height);

					object-fit: cover;
				}
			}
			.card--text {
				display: inline-block;
				float: left;
				width: 50%;
				height: 100%;
				padding: 1em;
			}

		}
	}
}
@import 'cards';